{% if environ is defined %}
Host *
   ForwardAgent yes
   ServerAliveInterval 30
#  StrictHostKeyChecking no
#  UserKnownHostsFile /dev/null

Host {{ aws }}
    HostName        {{ elacticip }}
    IdentityFile    ~/.ssh/id_rsa.ec2
    User            ec2-user
{% else %}
Host *
   ForwardAgent yes
   ServerAliveInterval 30
   StrictHostKeyChecking no
   UserKnownHostsFile /dev/null
{% endif %}
